<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/post_form'%>
        </section>
      </aside>
      <aside class="span8">
        <section>
          <%= render 'map/map' %>
        </section>

        <%= render 'shared/feed' %>
      </aside>
    </div>
<% else %>

    <section class="welcome_section">
      <div class="welcome" id="div_demo">
        <div id="vid_cont">
          <%= video_tag 'video.mp4' , id: 'bgvid', autoplay: true, loop: true%>
        </div>
      </div>
    </section>
<% end %>