<%= form_for(current_user.relationships.find_by_followed_id(@user),
    html: {method: :delete }, remote: true) do |f| %>
    <div><%= f.hidden_field :followed_id %></div>
    <%= f.submit 'Unfollow', class: 'btn btn-large' %>
<% end %>