<%= provide(:title, "Edit Profile | #{@user.name}") %>
<h1>Update Profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation, 'Confirm' %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit 'Save Changes', class: 'btn btn-large btn-primary' %>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">Change</a>
  </div>
</div>