<% provide(:title, 'All Users')  %>
<h1>All Users</h1>

<%= will_paginate  %>

<ul class="users">
  <% @users.all.each do |user| %>
  <%= render 'user', user: user %>
  <% end  %>
</ul>

<%= will_paginate  %>