<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name  %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= will_paginate @micropost %>
    <%= render 'follow_form' if signed_in? %>
    <% if @micropost.any?  %>
        <h3>Tours (<%= @micropost.count %>)</h3>
        <ol class="microposts">
          <% @micropost.all.each do |micropost| %>
              <%= render 'microposts/micropost', micropost: micropost %>
          <% end %>
        </ol>
    <% end %>
  </div>
</div>
