<% if(object.errors.any?)  %>
    <div id="error_messages">
      <div class="alert alert-error">
        The form contains: <%= pluralize(object.errors.count, 'error') %>
      </div>
        <ul class="alert alert-error">
          <% object.errors.full_messages.each do |e| %>
            <li>* <%= e %> </li>
          <% end  %>
        </ul>
    </div>
<% end %>