<% if @feed_items.any? %>
    <div id="feed">
      <h3>Tours  Feed</h3>
      <%= will_paginate @feed_items %>
        <ol class="microposts">
          <% @feed_items.all.each do |feed_item| %>
              <%= render 'shared/feed_item', feed_item: feed_item %>
          <% end  %>
        </ol>
      <%= will_paginate @feed_items %>
    </div>
<% end %>