<!--feed item has same name as partial. its done by rails automatically-->
<li id="<%= feed_item.id %>">
  <div class="panel panel-default">
    <aside id="feed_img">
        <% if !feed_item.image.nil?  %>
            <%= link_to(image_tag(feed_item.image, height: 82, width: 82, class: 'gravatar'), feed_item.user) %>
        <% else  %>
            <%= link_to gravatar_for(feed_item.user), feed_item.user %>
        <% end  %>
    </aside>
    <div class="panel-heading">
      <h4 class="panel-title"><%= feed_item.name %></h4>
    </div>
    <div class="panel-body">
      <%= feed_item.content %>
    </div>
    <span class="timestamp">
        posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
    <span class="user">
      posted by: <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <% if current_user?(feed_item.user) %>
        <%= link_to 'delete', feed_item, method: :delete,
                    confirm: 'Are you sure?',
                    title: feed_item.content %>
    <% end %>
  </div>
</li>