<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: @micropost %>
    <div class="field">
      <%= f.text_field :name, placeholder: 'name' %>
    </div>
    <div class="field">
      <%= f.text_field :tour_type, placeholder: 'choose tour type' %>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: 'description' %>
    </div>
    <div class="field">
      <%= f.text_area :kml, placeholder: 'kml', id: 'kmlString' %>
    </div>
    <div class="field">
      <label class="field" for="file">Upload tour image</label> <%= f.file_field :image, class: 'upload' %>
    </div>
    <%= f.submit 'Post', class: 'btn btn-large btn-primary'  %>
<% end %>