<% @user ||= current_user %>
<div id="user_stats" class="stats" data-id = <%= @user.id %>>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count  %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count  %>
    </strong>
    followers
  </a>
</div>