<li>
  <h3 class="content"><b></b><%= micropost.name %></b></h3>
  <h4 class="content"><%= micropost.tour_type %></h4>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    posted: <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to 'delete', micropost, method: :delete,
                                     confirm: 'Are you sure?',
                                     title: micropost.content %>
  <% end  %>
</li>