@import 'bootstrap';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

a:hover {
  background: none;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #666666;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #2E2F30;
    text-decoration: none;
    background: none;
  }
}

#signup {
  color: #ffffff;

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #CCCCCC;
  a {
    color: #CCCCCC;
    &:hover {
      color: #CCCCCC;
      background: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      a {
        color: #CCCCCC;
      }
      float: left;
      margin-left: 10px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing();
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {padding-left: 0;
      border: 0;
    }
    &:hover {
      background: none;
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_messages {
  color: red;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field-with-errors {
  @extend .control-group;
  @extend .error
}

.users {
  list-style: none;
  margin: 0px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}

#map {
  left: 20px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.welcome {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 300px;
  right: 0px;
  top: 0px;
}

#tst {
  margin-left: auto;
  margin-right: auto;
  width: 625px;
}

.footer {
  margin-top: 470px;
  position: relative;
}

#mapWrapper {
  margin-left: 25px;
}

#kmlString {
  display: none;
}

#feed{
  margin-left: 25px;
}

#tourImg {
  height: 50px;
  width: 50px;
}

//input[type="file"]{
//  z-index: 999;
//  line-height: 0;
//  font-size: 50px;
//  position: absolute;
//  opacity: 0;
//  filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
//  cursor: pointer;
//  _cursor: hand;
//  margin: 0;
//  padding:0;
//  left:0;
//}
//
//.add-photo-btn {
//  position:relative;
//  overflow:hidden;
//  cursor: pointer;
//  text-align:center;
//  background-color:#83b81a;
//  color:#fff;
//  display:block;
//  width:197px;
//  height:31px;
//  font-size:18px;
//  line-height:30px;
//  float:left;
//  border-radius: 4px 4px 4px 4px;
//  -moz-border-radius: 4px 4px 4px 4px;
//  -webkit-border-radius: 4px 4px 4px 4px;
//  border: 0px solid #000000;
//}

#img_logo {
  padding-bottom: -50px;
}

.following_list {
  top: 20px;
}

.bgvideo{
  min-width: 100%;
  height:750px;
  position:relative;
}


#bgvid {
  position: relative;
  width: 100%;
  z-index: -1;
}

#vid_cont{
  width: 100%;

}

#feed_img {
}