<div id="mapWrapper">
  <div id="myMap" style="height:400px; width:100%;"></div>
  <script type="text/javascript">
      BlitzMap.setMap('myMap', true, 'mapData' )
  </script>
  <br />
  <input type="button" class="btn btn-large btn-primary" value="Generate Route" onclick="BlitzMap.toKML()" />
</div>