<footer class="footer">
  <% if !signed_in? %>

    <div class="center" id="tst">
      <%= link_to 'Sign Up now!', signup_path, class: 'btn btn-large btn-info', id: 'signup' %>
    </div>
  <% end  %>
</footer>